/*General page stuff - starting point to edit from */

html,
body,
div,
a,
p,
img,
ul,
li,
footer,
header,
section,
h1,
span,
time,
hr,
hgroup,
a img,
form,
input,
h2,
h3,
h4,
label,
textarea,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  z-index: 1;
  -webkit-hyphens: none; 
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  overflow: auto;
  /*outline: 1px dotted green;*/
}

/*header,
section,
footer {
  display: block;*/

}

body {
  font-size: 100%;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-hyphens: auto;
  background: #fff;
}



.inner{
  width: 100%;
  height: 80px;
  position: relative;
  background-color: white;
  padding: 10px 0;
  margin: 0;
}


.inner ul{
  height: 80px;
  float: right;
  display: block;
}

.inner li, .inner h1 {
  line-height: 80px;
  background-color: inherit;
  display: inline-block;
  margin:0;
  padding: 0 1em;
  float: left;
}

/*Future drop-down menu-----------------------*/


.drop {
  margin: 0px;
}

.drop ul {
   display: inline-flex;
   float: right;
}

.drop li{
  background-color: white;
  padding: .5em;
  margin: .5em .5em .5em 0;
  text-align: center;
  width: 10em;
  height: 10em;
  font-size: 80%;
  line-height: 140%;
   position: relative;
}

.drop select, .drop textarea, .drop button {
    position: absolute;
    bottom: .7em;
    right: 1em;
}



/*Sections of nav bar colors================*/
.setts {  background-color: cornflowerblue;}
li.setts { background-color: inherit;}
li:hover.setts {background-color: cornflowerblue;}




.reset {background-color: darkolivegreen;}
li.reset {  background-color: inherit;}
li:hover.reset {background-color: darkolivegreen;}



.export {background-color: coral;}
li.export {  background-color: inherit;}
li:hover.export {background-color: coral;}




.agb {background-color: darkturquoise;}
li.agb {background-color: inherit;}
li:hover.agb {background-color: darkturquoise;}


.halp {background-color: goldenrod;}
li.halp; {background-color: inherit;}
li:hover.halp {background-color: goldenrod;}




.meat {background-color: cadetblue;}
.meat > div {
  text-align: center;
  margin: 20px;
  background-color: white;
}







p {
	margin: .7em;
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
 }

.live{
	border: 2px solid #333;
	padding: .5em .8em;
}
.live:focus, .live:hover{
  color: #fff;
  background-color: #333;
}